<!DOCTYPE html>
<html>

<style>
table, th, td {
  border: 1px solid black;
}
</style>

<body>

    <h1>Author List</h1>

    <table id="author-table" class="table table-striped table-bordered" class="display compact">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each authorsToRender}}
          <tr>
            <td>{{name}}</td>
            <td>
                <form action="/authors/books/{{_id}}">
                    <input type="submit" value="See Books" />
                </form><br><br>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table> 

      <p>New Author</p>
      <form action="/authors" method="post" id="authorform">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
      </form>

      <button type="submit" form="authorform" value="Submit">Add</button>

</body>
</html>
