<!DOCTYPE html>
<html>
<body>

<h1>Welcome Library</h1>

<form action="/books">
    <input type="submit" value="Books" />
</form><br><br>

<form action="/authors">
    <input type="submit" value="Authors" />
</form><br><br>

<form action="/bookSeries">
    <input type="submit" value="Book Series'" />
</form><br><br>

<form action="/publishers">
    <input type="submit" value="Publishers" />
</form>

</body>
</html>
